
ul {
    list-style-type:none;
}

html {
    background-color: #E4E9FD;
    background-image: -webkit-linear-gradient(65deg, #3876BF 50%, #F3F0CA 50%);
    min-height: 1000px;
    font-family: 'helvetica neue';
}

h1 {
    color: #fff;
    padding: 10px;
}

h4 {
    color: #E1AA74;
    padding: 10px;
    text-align: right;
}

.box {
    max-width: 400px;
    margin: auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }

  .box-item {
    max-width: 400px;
    margin: auto auto 2rem auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }
#heading {
    background-color: #3876BF;
    text-align: center;
}

.strikethrough:checked + span{
    text-decoration:line-through
  }
  
.item {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
    border-bottom: 0;
}

input:checked+p {
    text-decoration: line-through;
    text-decoration-color: #A683E3;
}

input[type="checkbox"] {
    margin: 20px;
}

p {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #00204a;
}

form.item {
    text-align: center;
    margin-left: 30%;
}

button {
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #3876BF;
    color: #fff;
    font-size: 30px;
    padding-bottom: 6px;
    border-width: 0;
}

input[type="text"] {
    text-align: left;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 200px;
}

input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #E1AA74;
}

::placeholder {
    color: grey;
    opacity: 1;
}

footer {
    color: #E1AA74;

    text-align: center;
}